<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active home" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link graph" href="/graph">Graph</a>
      </li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">條件查詢</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <%-include('query_form.ejs') %>
      </div>
    </div>
  </div>
</nav>
<script>
  if (location.href.indexOf("graph") != -1) {
    $(".home").removeClass("active");
    $(".graph").addClass("active");
  }
</script>
