<form>
    <div class="row g-3">
<!-- 房型 -->
        <div class="col-sm-3">      
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>
        <div class="col-sm-1">房</div>
        <div class="col-sm-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>
        <div class="col-sm-1">廳</div>
        <div class="col-sm-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>
        <div class="col-sm-1">衛</div>
<!-- 地區   -->
      
        <div class="col-md-6">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="list1">
              </select>
        </div>
       
        <div class="col-md-6">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" id="list2">
                <option selected>請選擇區域</option>
              </select>
        </div>
<!-- 樓型 -->
        <div class="col-md-12">
            樓型：
        </div>
        <div class="form-check col-md-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            大樓
          </label>
        </div>

        <div class="form-check col-md-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            華廈
          </label>
        </div>
        <div class="form-check col-md-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            公寓
          </label>
        </div>

        <div class="form-check col-md-3">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            透天
          </label>
        </div>
        <div class="form-check col-md-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            有
          </label>
        </div>

        <div class="form-check col-md-2">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            無 
          </label>
        </div>
        <div class="col-md-2">
          陽台
        </div>
<!-- 屋齡 -->
          <div class="col-md-12">
            屋齡（年）：
          </div>
          <div class="form-check col-sm-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              5以內
            </label>
          </div>
          <div class="form-check col-sm-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              5~10
            </label>
          </div>

          <div class="form-check col-sm-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              10~20
            </label>
          </div>
          <div class="form-check col-sm-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              20以上
            </label>
          </div>
<!-- 價錢 -->
          <div class="col-md-12">
            價錢：
          </div>
          <div class="form-check col-sm-4">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              一坪
            </label>
          </div>
          <div class="form-check col-sm-5">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              總價
            </label>
          </div>
          <div class="col-sm-4">
            <input type="number" class="form-control form-control-sm" id="exampleFormControlInput1">
          </div>
          <div class="col-sm-1">～</div>
          <div class="col-sm-4">
            <input type="number" class="form-control form-control-sm" id="exampleFormControlInput1">
          </div>
          <div class="col-sm-3">萬元</div>
<!-- 車位  -->
          <div class="col-md-12">
            車位：
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              平面坡道
            </label>
          </div>

          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              平面升降
            </label>
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              機械坡道
            </label>
          </div>

          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              機械升降
            </label>
          </div>
          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              塔式
            </label>
          </div>

          <div class="form-check col-md-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault" style="font-size: 15px;">
              一樓平面
            </label>
          </div>
<!-- 住or商 -->
          <div class="col-md-12">
            土地使用分區：
        </div>
        <div class="form-check col-md-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            住宅區
          </label>
        </div>

        <div class="form-check col-md-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            商業區
          </label>
        </div>
        <div class="form-check col-md-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            其他
          </label>
        </div>
        <div class="col-sm-4">信仰偏好：</div>
        <div class="col-sm-8">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>請選擇神明</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
        </div>

        <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </form>
  

  <script>
 // 產出第一層
    var city=['北','中','南'];
    var inner="<option selected>請選擇縣市</option>";
    for(var i=0;i<city.length;i++){
        inner+=`<option value=${i}>${city[i]}</option>`;
    }
    $("#list1").html(inner);//寫入
    var noIndex;//第二層的index
    //選擇第一層後，產出第二層
    var sectors=new Array();
    sectors[1]=['台北','桃園' ,'新竹' ];
    sectors[2]=['台中','彰化',' 苗栗 '];  
    sectors[3]=['高雄 ','屏東',' 台南 ']; 
    $("#list1").change(function(){
        index=this.selectedIndex;//第一層的index
        noIndex =index;
        var Sinner="<option selected>請選擇區域</option>";
        for(var i=0;i<sectors[index].length;i++){
        Sinner+=`<option value=${i}>${sectors[index][i]}</option>`;
        }
        $("#list2").html(Sinner);})
    </script>
