<div id="map"></div>
<script>
  var map = L.map("map").setView([24.9185024, 121.0786888], 10);
  var osmUrl = "http://{s}.tile.osm.org/{z}/{x}/{y}.png";
  var osmAttribution = "Map data &copy; 2012 OpenStreetMap contributors";
  $.getJSON("/geoJSON/countries.geojson", function (r) {
    geom = null;
    r.features.forEach((item) => {
      if (item.properties.ADMIN == "Taiwan") {
        geom = item.geometry;
        return;
      }
    });
    let Xarr = [];
    let Yarr = [];
    console.log(geom);
    geom.coordinates.forEach((block) => {
      block[0].forEach((item) => {
        Xarr.push(item[0]);
        Yarr.push(item[1]);
      });
    });
    let left = Math.min(...Xarr) - 0.3;
    let right = Math.max(...Xarr) + 0.3;
    let bottom = Math.min(...Yarr) - 0.3;
    let top = Math.max(...Yarr) + 0.3;
    let countryBlock = {
      type: "MultiPolygon",
      coordinates: [
        [
          [
            [left, top],
            [left, bottom],
            [right, bottom],
            [right, top],
          ],
        ],
      ],
    };
    console.log(countryBlock);
    var osm = L.TileLayer.boundaryCanvas(osmUrl, {
      boundary: countryBlock,
      attribution: osmAttribution,
      trackAttribution: true,
    }).addTo(map);
    $.getJSON("/geoJSON/hsinchu_city.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
    $.getJSON("/geoJSON/hsinchu.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
    $.getJSON("/geoJSON/keelong.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
    $.getJSON("/geoJSON/newtaipei.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
    $.getJSON("/geoJSON/taipei.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
    $.getJSON("/geoJSON/taoyuan.json", function (r) {
      L.geoJSON(r, { color: "#333", weight: 1, fillOpacity: 0 }).addTo(map);
    });
  });
</script>
