<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="/">ABD Project</a> -->
    <!-- <a href="#" class="navbar-brand" id="menu-toggle">ADB</a> -->
    <a
      style="margin-bottom: 10px"
      class="navbar-brand"
      id="menu-toggle"
      href="#"
    >
      <span>
        <img alt="Brand" src="/img/search.png" />
        ADB</span
      >
    </a>
  </div>
</nav>
<script></script>
